$brand-red: #d41443;
$brand-pink: #ffa5ba;
$pinkBg: #ffb8ca;
$white: #ffffff;
$gray: #e1e1e1;
$lime: #c2e297;
$body: #000000;
$text: #907e82;
$mobileMenuBg: #e17992;
$CoffeeBG: #f0d1a5;
$pageBg: #fff5f6;
$sliderBg: #fafafa;
$sliderAfterDots: #c7133e;
$sliderHouse: #d31342;
$sliderDots: #d9d9d9;
$contactsBoxShadow: rgba(212, 20, 67, 0.1);
$ourLocationsBtn: #d41342;
$footerSocialIcons: #fea5bb;

$sans: 'DM Sans', sans-serif;
$titan: 'Titan One', cursive;
