$brand: #d41443;
$white: #ffffff;
$body: #000000;
$text: #907e82;
$mobileMenuBg: #e17992;
$headerAndProductsIceCreamBg: #ffb8ca;
$headerCircleAndTitleLabel: #ffa5ba;
$CoffeeBG: #f0d1a5;
$productsMilkshakesBG: #c2e297;
$pageBg: #fff5f6;
$sliderBg: #fafafa;
$sliderAfterDots: #c7133e;
$sliderGradient: #e1e1e1;
$sliderHouse: #d31342;
$sliderDots: #d9d9d9;
$contactsItemBoxShadow: rgba(212, 20, 67, 0.1);
