<section id="how its made" class="container">
  <p>TRADICIONAL AND LOVE</p>

  <title><p>HOW IT`S MADE ?</p></title>
  <div>
    <p>
      Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus lorem
      eget, egestas eros. Maecenas eleifend erat at justo fringilla.
    </p>
    <p>
      Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci in
      imperdiet placerat. Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna maximus.
      Cras massa nibh, tincidunt. Aliquam erat volutpat. Aenean accumsan.
    </p>
    <button type="button">Read more</button>
  </div>
</section>
