<section id="how its made">
  <div class="container">
    <p class="about">TRADICIONAL AND LOVE</p>

    <h2 class="about__title">HOW IT`S MADE ?</h2>
    <div class="about__wrapper">
      <img class="about__img" src="./images/home-pic4.png" width="" height="" alt="" />

      <div class="about__text-wrapper">
        <p class="about__text">
          Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus
          lorem eget, egestas eros. Maecenas eleifend erat at justo fringilla.
        </p>
        <p class="about__description">
          Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci
          in imperdiet placerat. Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna
          maximus. Cras massa nibh, tincidunt. Aliquam erat volutpat. Aenean accumsan.
        </p>
        <button class="btn" type="button">Read more</button>
      </div>
    </div>
  </div>
</section>
