<section class="advantages" aria-labelledby="advantages">
  <div class="container">
    <h2 class="advantages__header-hidden" id="advantages">advantages</h2>
    <ul class="advantages__list">
      <li class="advantages__list-header advantages__list-header--1">
        <span>721</span>
        <p class="advantages__list-text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="advantages__list-header advantages__list-header--2">
        <span>16kg</span>
        <p class="advantages__list-text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="advantages__list-header advantages__list-header--3">
        <span>84</span>
        <p class="advantages__list-text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
    </ul>
  </div>
</section>
