<section class="contacts">
<ul class="contacts__box">
    <li class="contacts__container">
        <div class=" contacts__content">
            <h3 class="contacts__title contacts--cafe">CAFE</h3>
            <div>
                <h4>Chicago</h4>
                <p>Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
            </div>
            <div>
                <ul>
                    <li>
                        <h4>Monday - Friday</h4>
                        <p>06:00 AM - 10:00 PM</p>
                    </li>
                    <li>
                        <h4>Saturday - Sunday</h4>
                        <p>08:00 AM - 16:00 PM</p>
                    </li>
                </ul>
            </div>
            <ul>
                <li>
                    <a href="tel:+610 383 766 284">+61(0) 383 766 284</a>
                </li>
                <li>
                    <a href="mailto:+610 383 766 284">noreply@envato.com</a>
                </li>
            </ul>
        </div>
    </li>
    <li class="contacts__container">
        <div class=" contacts__content">
            <h3 class="contacts__title contacts--foodtruck">FOOD TRUCK</h3>
            <div>
                <h4>Los Angeles</h4>
                <p>Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
            </div>
            <div>
                <ul>
                    <li>
                        <h4>Monday - Friday</h4>
                        <p>06:00 AM - 10:00 PM</p>
                    </li>
                    <li>
                        <h4>Saturday - Sunday</h4>
                        <p>08:00 AM - 16:00 PM</p>
                    </li>
                </ul>
            </div>
            <ul>
                <li>
                    <a href="tel:+610 383 766 284">+61(0) 383 766 284</a>
                </li>
                <li>
                    <a href="mailto:+610 383 766 284">noreply@envato.com</a>
                </li>
            </ul>
        </div>
    </li>
    <li class="contacts__container">
        <div class=" contacts__content">
            <h3 class="contacts__title contacts--cafe">CAFE</h3>
            <div>
                <h4>New York</h4>
                <p>Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
            </div>
            <div>
                <ul>
                    <li>
                        <h4>Monday - Friday</h4>
                        <p>06:00 AM - 10:00 PM</p>
                    </li>
                    <li>
                        <h4>Saturday - Sunday</h4>
                        <p>08:00 AM - 16:00 PM</p>
                    </li>
                </ul>
            </div>
            <ul>
                <li>
                    <a href="tel:+610 383 766 284">+61(0) 383 766 284</a>
                </li>
                <li>
                    <a href="mailto:+610 383 766 284">noreply@envato.com</a>
                </li>
            </ul>
        </div>
    </li>
    
</ul>
<div>
    <button button type="submit"> Our Locations  >
    </button> 
    <button button type="submit"> Franchise  >
    </button>
</div>
</section>