<!-- Swiper, Customer Review -->
<section class="customer-review">
  <div class="container">
    <div class="swiper mySwiper">
      <div class="swiper-wrapper customer-review__slides">
        <div class="swiper-slide customer-review__slide">
          <img
            src="images/review-1-85.png"
            srcset="images/review-1-170.png 2x"
            alt="Satisfied customer"
            class="customer-review__picture"
          />
          <div class="customer-review__quote">
            <p class="customer-review__paragraph">
              Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
              hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
            </p>
          </div>
          <div class="customer-review__dots">
            <svg class="customer-review__dot" width="8" height="8" class="customer-review__circle">
              <circle r="2" cx="4" cy="4" />
            </svg>
            <svg class="customer-review__dot" width="8" height="8" class="customer-review__circle">
              <circle r="2" cx="4" cy="4" />
            </svg>
            <svg class="customer-review__dot" width="8" height="8" class="customer-review__circle">
              <circle r="2" cx="4" cy="4" />
            </svg>
          </div>
          <h3 class="customer-review__name">Emily, Los Angeles</h3>
        </div>
        <div class="swiper-slide customer-review__slide">
          <img
            src="images/review-2-85.png"
            srcset="images/review-2-170.png 2x"
            alt="Happy girl in glasses smiling"
            class="customer-review__picture"
          />
          <div class="customer-review__quote">
            <p class="customer-review__paragraph">
              Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
              hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
            </p>
          </div>
          <div class="customer-review__dots">
            <svg class="customer-review__dot" width="8" height="8" class="customer-review__circle">
              <circle r="2" cx="4" cy="4" />
            </svg>
            <svg class="customer-review__dot" width="8" height="8" class="customer-review__circle">
              <circle r="2" cx="4" cy="4" />
            </svg>
            <svg class="customer-review__dot" width="8" height="8" class="customer-review__circle">
              <circle r="2" cx="4" cy="4" />
            </svg>
          </div>
          <h3 class="customer-review__name">Jane, Washington</h3>
        </div>
        <div class="swiper-slide customer-review__slide">
          <img
            src="images/review-3-85.png"
            srcset="images/review-3-170.png 2x"
            alt="Content and happy lady"
            class="customer-review__picture"
          />
          <div class="customer-review__quote">
            <p class="customer-review__paragraph">
              Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
              hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
            </p>
          </div>
          <div class="customer-review__dots">
            <svg class="customer-review__dot" width="8" height="8" class="customer-review__circle">
              <circle r="2" cx="4" cy="4" />
            </svg>
            <svg class="customer-review__dot" width="8" height="8" class="customer-review__circle">
              <circle r="2" cx="4" cy="4" />
            </svg>
            <svg class="customer-review__dot" width="8" height="8" class="customer-review__circle">
              <circle r="2" cx="4" cy="4" />
            </svg>
          </div>
          <h3 class="customer-review__name">Hannah, New York</h3>
        </div>
      </div>
      <!-- Pagination -->
      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>
