<footer class="footer">
  <div class="container">
    <div class="footer__style">
      <h2 class="footer__header">
        <span class="footer__homemade">HOMEMADE ICE CREAM MADE</span>
        <span class="footer__color"> WITH PASSION</span>
      </h2>
      <div>
        <ul class="footer__list">
          <li class="footer__link">
            <a class="footer__circle" href="https:/github.com/" target="_blank"
              ><svg class="footer__svg"><use href="./images/icons.svg#icon-github"></use></svg>
            </a>
          </li>
          <li class="footer__link">
            <a class="footer__circle" href="https://telegram.org/" target="_blank"
              ><svg class="footer__svg"><use href="./images/icons.svg#icon-telegram"></use></svg>
            </a>
          </li>
          <li class="footer__link">
            <a class="footer__circle" href="https://facebook.com/" target="_blank"
              ><svg class="footer__svg"><use href="./images/icons.svg#icon-facebook"></use></svg>
            </a>
          </li>
        </ul>
        <span>
          <a class="footer__contacts" href="tel:+610383766284">
            Feel free to contact
            <span class="footer__tel">+61 (0) 383 766 284</span>
          </a>
        </span>
      </div>
    </div>
    <div class="footer__rights-container">
      <span class="footer__rights">&copy; 2019 - IceCream. All Rights Reserved.</span>
    </div>
  </div>
</footer>
