<header class="header" id="home">
  <div class="container"> <!-- zapomniałeś usunąć modyfikatora container -->
    <ul class="header__bar">
      <li>
        <img src="images/logo-199.png" alt="icecream" />
      </li>
      <li>
        <button class="header__hamburger">
          <svg width="20" height="12">
            <use href="images/icons.svg#icon-Burger"></use>
          </svg>
        </button>
      </li>
    </ul>
  </div>
</header>
<section class="hero">
  <div class="hero__box container">
    <h1 class="hero__h1-style">
      ice cream<br />
      made with<br /><span class="hero__h1-style--color">passion</span>
    </h1>
    <ul class="hero__anchor-btn">
      <li>
        <form href="#products">
          <button type="submit">Products</button>
        </form>
      </li>
      <li>
        <form href="#About">
          <button type="submit">How it's made?</button>
        </form>
      </li>
    </ul>
    <ul>
      <li>
        <img class="hero__ice-cream" src="images/hero-ice-171.png" alt="ice cream" />
        <div><span class="hero__circle"></span></div>
      </li>
    </ul>
  </div>
</section>
