<header class="header" id="home">
  <div class="container container--header">
    <nav>
      <ul class="header__bar">
        <li>
          <img class="header__logo" src="images/logo-199.png" alt="icecream" />
        </li>
        <li class="header__nav">
          <a class="header__nav__list header__nav__list--active" href="#home">Home</a>
        </li>
        <li class="header__nav">
          <a class="header__nav__list" href="#about">About us</a>
        </li>
        <li class="header__nav">
          <a class="header__nav__list" href="#about">How it’s made?</a>
        </li>
        <li class="header__nav">
          <a class="header__nav__list" href="#products">Our products</a>
        </li>
        <li class="header__nav">
          <a class="header__nav__list header__nav__list--padding" href="#contacts">Contact</a>
        </li>
        <li class="header__buttons">
          <button data-modal-menu-open class="header__hamburger">
            <svg width="20" height="12">
              <use href="images/icons.svg#icon-Burger"></use>
            </svg>
          </button>
          <button class="btn btn--buy-now">
            Buy now
            <svg class="header__btn-svg" width="20" height="12">
              <use href="images/icons.svg#icon-Vector"></use>
            </svg>
          </button>
        </li>
      </ul>
    </nav>
  </div>
</header>
<section class="hero">
  <div class="hero__box container">
    <h1 class="hero__h1-style">
      ice cream<br />
      made with<br /><span class="hero__h1-style--color">passion</span>
    </h1>
    <ul class="hero__anchor-btn">
      <li>
        <button class="btn btn--products" onclick="window.location.href='#products';">
          Products
        </button>
      </li>
      <li>
        <button class="btn btn--about" onclick="window.location.href='#about';">
          How it's made?
        </button>
      </li>
    </ul>
    <div>
      <ul>
        <li>
          <picture>
            <!-- for desktop screens  -->
            <source
              media="(min-width:1280px)"
              srcset="images/hero-ice-236.png 1x, images/hero-ice-472.png 2x"
              type="image/png"
            />
            <!-- for tablet screens  -->
            <source
              media="(min-width: 768px)"
              srcset="images/hero-ice-143.png 1x, images/hero-ice-286.png 2x"
              type="image/png"
            />
            <!-- for mobile screens  -->
            <source
              media="(max-width:767px)"
              srcset="images/hero-ice-171.png 1x, images/hero-ice-342.png 2x"
              type="image/png"
            />
            <img class="hero__ice-cream" src="images/hero-ice-171.png" alt="icecream" />
          </picture>
          <div><span class="hero__circle"></span></div>
        </li>
      </ul>
    </div>
    <ul class="hero__milk-info">
      <li>
        <picture>
          <!-- for desktop screens  -->
          <source
            srcset="images/hero-milk-188.png 1x, images/hero-milk-376.png 2x"
            media="(min-width: 1280px)"
            type="image/png"
          />
          <!-- for tablet screens  -->
          <source
            srcset="images/hero-milk-124.png 1x, images/hero-milk-248.png 2x"
            media="(min-width: 768px)"
            type="image/png"
          />
          <img src="images/hero-milk-124.png" alt="milk" />
        </picture>
      </li>
      <li>
        <p class="hero__milk-description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et
        </p>
        <picture>
          <source
            srcset="images/arrow-right-40.png 1x, images/arrow-right-80.png 2x"
            media="(min-width: 768px)"
            type="image/png"
          />
          <img class="hero__arrow" src="images/arrow-right-40.png" alt="arrow right" />
        </picture>
      </li>
    </ul>
    <ul>
      <li class="hero__counter">
        <div>
          <p class="hero__numbers">16</p>
          <p class="hero__places">cafes</p>
          <span class="test1"></span>
        </div>
        <div>
          <p class="hero__numbers">23</p>
          <p class="hero__places">food trucks</p>
        </div>
      </li>
      <li>
        <picture>
          <!-- for desktop screens  -->
          <source
            srcset="images/hero-tasty-293.png 1x, images/hero-tasty-586.png 2x"
            media="(min-width: 1280px)"
            type="image/png"
          />
          <!-- for tablet screens  -->
          <source
            srcset="images/hero-tasty-168.png 1x, images/hero-tasty-336.png 2x"
            media="(min-width: 768px)"
            type="image/png"
          />
          <img class="hero__girl" src="images/hero-tasty-168.png" alt="girl with icecream" />
        </picture>
      </li>
    </ul>
  </div>
</section>
