<div class="mobile-menu is-hidden" data-modal-menu>
  <button class="mobile-menu__close" data-modal-menu-close>
    <svg width="14" height="14">
      <use href="images/icons.svg#icon-close"></use>
    </svg>
  </button>
  <button class="btn btn--mobile-menu">
    Buy now
    <svg class="mobile-menu__btn-svg" width="20" height="12">
      <use href="images/icons.svg#icon-Vector"></use>
    </svg>
  </button>
  <ul>
    <li>
      <a class="mobile-menu__list mobile-menu__list--active" href="#home">Home</a>
    </li>
    <li>
      <a class="mobile-menu__list mobile-menu__list--border" href="#about">About us</a>
    </li>
    <li>
      <a class="mobile-menu__list mobile-menu__list--border" href="#about">How it’s made?</a>
    </li>
    <li>
      <a class="mobile-menu__list mobile-menu__list--border" href="#products">Our products</a>
    </li>
    <li>
      <a class="mobile-menu__list mobile-menu__list--border" href="#contacts">Contact</a>
    </li>
  </ul>
</div>