<section class="products">
  <div class="products-head">
    <p class="products-head__text">100&percnt; natural</p>
    <h1 class="products-head__title" id="products">products</h1>
  </div>
  <ul class="products-grid">
    <li class="product-box product-box--bg-color">
      <p class="product-box__title">ice cream</p>
      <p class="product-box__text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
        labore et. dolore magna aliqua facilisis.
      </p>
      <a p class="product-box__link" href="#">
        <img src="./images/arrow-right-40.png" alt="link"
      /></a>
    </li>
    <li class="product-box product-box--bg-color">
      <p class="product-box__title">ice coffee</p>
      <p class="product-box__text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
        labore et. dolore magna aliqua facilisis.
      </p>
      <a p class="product-box__link" href="#">
        <img src="./images/arrow-right-40.png" alt="link"
      /></a>
    </li>
    <li class="product-box product-box--bg-color">
      <p class="product-box__title">milkshakes</p>
      <p class="product-box__text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
        labore et. dolore magna aliqua facilisis.
      </p>
      <a p class="product-box__link" href="#">
        <img src="./images/arrow-right-40.png" alt="link"
      /></a>
    </li>
  </ul>
</section>
