<section class="products">
  <div class="container">
    <div class="products__head">
      <p class="products__text">100&percnt; natural</p>
      <h2 class="products__title" id="products">products</h2>
    </div>
    <ul class="products__grid">
      <li class="products__item products__item--bg-color">
        <h3 class="products__item-title">ice cream</h3>
        <p class="products__item-text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et. dolore magna aliqua facilisis.
        </p>
        <button class="btn btn--product" type="button">
          <img
            src="./images/arrow-right-40.png"
            alt="button"
            srcset="./images/arrow-right-80.png 2x"
          />
        </button>
      </li>
      <li class="products__item products__item--bg-color">
        <h3 class="products__item-title">ice coffee</h3>
        <p class="products__item-text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et. dolore magna aliqua facilisis.
        </p>
        <button class="btn btn--product" type="button">
          <img
            src="./images/arrow-right-40.png"
            alt="button"
            srcset="./images/arrow-right-80.png 2x"
          />
        </button>
      </li>
      <li class="products__item products__item--bg-color">
        <h3 class="products__item-title">milkshakes</h3>
        <p class="products__item-text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et. dolore magna aliqua facilisis.
        </p>
        <button class="btn btn--product" type="button">
          <img
            src="./images/arrow-right-40.png"
            alt="button"
            srcset="./images/arrow-right-80.png 2x"
          />
        </button>
      </li>
    </ul>
  </div>
</section>
