.container 
{
max-width: 600px;

  
}
  




  .btn {
    margin-left: 30px;
  }

  .about__title
  {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #FFF5F6;
    @media  (min-width: 800px) 
      {
          background-color: lightblue;
          flex-direction: row;
        }
    }
  