.about__wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: $pageBg;
  @media (min-width: 768px) {
    background-color: lightblue;
    //kolor testowy do usuniecia
    flex-direction: row;
  }
}
