.about {
  background-color: $pageBg;

  &__tittle-2th {
    font-family: Titan One;
    font-style: Regular;
    font-size: 34;
    line-height: 39px;
    line-height: 100%;
    text-align: Center;
    vertical-align: Top;
    color: $brand-red;
    padding-bottom: 26px;
    @media (min-width: 768px) {
      font-size: 48;
    }
    @media (min-width: 1200px) {
      font-size: 58;
    }
  }

  &__title {
    display: block;
    font-family: Titan One;
    font-style: Regular;
    font-size: 18;
    line-height: 21px;
    text-align: center;
    // vertical-align: center;
    padding-top: 125px;
    padding-bottom: 15px;
    color: $brand-pink;
  }

  &__img {
    width: 280px;
    height: 279px;
    padding-bottom: 46px;
    object-fit: contain;

    @media (min-width: 768px) {
      margin-right: 17px;
      width: 340px;
      height: 339px;
    }
    @media (min-width: 1200px) {
      margin-right: 74px;
      width: 516px;
      height: 516px;
    }
  }

  &__wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;

    @media (min-width: 768px) {
      flex-direction: row;
      justify-content: center;
    }
    //@media (min-width: 1200px) {
    //justify-content: center;
    //}
  }

  &__text-wrapper {
    @media (min-width: 768px) {
      max-width: 340px;
    }
  }

  &__text {
    font-family: DM Sans;
    font-size: 12;
    line-height: 19px;
    text-align: Left;
    vertical-align: Top;
    // color: $body;
    padding-bottom: 30px;
    z-index: 2;
  }

  &__description {
    // font-family: DM Sans;
    font-style: Medium;
    font-size: 12;
    line-height: 19px;
    text-align: left;
    vertical-align: Top;
    color: $text;
    margin-bottom: 17px;
    @media (min-width: 768px) {
      margin-bottom: 62px;
    }
    @media (min-width: 1200px) {
      margin-bottom: 45px;
    }
  }
}
