.btn{
border-radius:22px;
font-weight: 700;
font-size: 16px;
line-height: 1,31;
display:flex;
justify-content:center;
align-items: center;
border:none;
padding:13px 0;

&--primary{
    color:$white;
    background-color:$ourLocationsBtn;
    width:161px;
}

&--secondary{
    color:$brand-red;
    background-color: $white;
    width:161px;
}

}