.contacts {
  background-color: $pageBg;
  padding-bottom: 113px;
  &__head {
    display: none;
  }
  &__box {
    display: flex;
    flex-direction: column;
    padding:0 50px;
    gap: 20px;
    align-items: center;
    transform: translateY(-84px);
  }
  &__container {
    background-color: $white;
    width: 100%;
    max-width: 350px;
    box-shadow: 0px 8px 30px $contactsBoxShadow;
    border-radius: 24px;
    padding: 43px 20px;
  }
  &__title {
    @include font-mixin('DM Sans', 500, 12px, 1.86, 0.04em, $white);
    border-radius: 4px;
    text-align: center;
    padding: 0px 21px;

    &--cafe {
      background-color: $CoffeeBG;
    }
    &--foodtruck {
      background-color: $lime;
    }
  }
  &__city {
    @include font-mixin($sans, 500, 12px, 1.86, 0.04em, $black);
    padding: 25px 0 10px;
    display: block;
  }
  &__description {
    @include font-mixin($sans, 500, 12px, 1.5, normal, $text);
    padding-bottom: 25px;
    border-bottom: 1px solid $gray;
  }
  &__opening-hours {
    padding: 25px 0;
    gap: 10px;
    display: flex;
    flex-direction: column;
  }
  &__weekdays {
    @include font-mixin($sans, 500, 12px, 1.86, normal, $black);
  }
  &__hours {
    @include font-mixin($sans, 500, 12px, 1.86, normal, $brand-pink);
  }
  &__details {
    border-top: 1px solid $gray;
    padding-top: 25px;
  }
  &__info {
    @include font-mixin($sans, 500, 12px, 1.5, normal, $text);
  }
  &__buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateY(-30px);
    gap: 10px;
  }
  &__icon {
    fill: none;
    margin-left: 8px;
    &--locations {
      stroke: $white;
    }
    &--franchise {
      stroke: $brand-red;
    }
  }
}
@media (min-width: 768px) {
  .contacts {
    &__box {
      flex-direction: row;
      gap: 20px;
      transform: translateY(-78px);
    }
    &__container {
      max-width: 350px;
      padding: 50px 31px;
    }
    &__title {
      font-size: 16px;
      border-radius: 6px;
      &--cafe {
        padding: 3px 15px;
      }
      &--foodtruck {
        padding: 3px 16px;
      }
    }
    &__city,
    &__weekdays,
    &__hours {
      font-size: 14px;
    }
    &__description {
      font-size: 14px;
      line-height: 1.66;
    }

    &__info {
      font-size: 14px;
      line-height: 1.83;
    }
    &__buttons {
      flex-direction: row;
      justify-content: center;
      gap: 14px;
    }
  }
}
@media (min-width: 1280px) {
  .contacts {
    background-image: url(/src/images/sectionbg21.png);
    background-position: top;
    background-repeat: no-repeat;
    background-size: contain;
    &__box {
      gap: 30px;
      transform: translateY(-102px);
    }
    &__container {
      max-width: 350px;
      padding: 51px 44px 62px 43px;
    }
    &__city {
      font-size: 16px;
    }
    &__decscription {
      font-size: 16px;
      line-height: 1.83;
      letter-spacing: 0.04em;
    }
    &__weekdays {
      font-size: 16px;
      line-height: 1.86;
      letter-spacing: 0.04em;
    }
    &__hours {
      font-size: 16px;
    }
    &__info {
      font-size: 16px;
    }
  }
}
