.footer {
  background-color: $pageBg;
  padding-bottom: 25px;
  position: relative;

  ::after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    transform: translateY(-89px);
    height: 1px;
    background-color: $gray;
  }

  &__header {
    @include font-mixin('Titan One', 400, 18px, 21px, 0em, $brand-pink);
    max-width: 80%;
  }

  &__homemade {
    display: block;
    margin-bottom: 16px;
  }

  &__color {
    @include font-mixin('Titan One', 400, 34px, 39px, 0.04em, $brand-red);
  }

  &__list {
    display: flex;
    // align-items: flex-end;
    justify-content: flex-end;
    margin-top: 43px;
  }
  &__circle {
    // padding: 3px;
    background-color: $brand-pink;
    border-radius: 50%;
    fill: $white;
    display: flex;
    // width: 100%;

    &:hover {
      background-color: $brand-red;
    }
  }
  &__svg {
    width: 32px;
    height: 32px;
  }
  &__link {
    margin-left: 28px;
  }

  &__contacts {
    // margin: 43px 0px 65px 0;
    margin: 43px 0 65px; //dodane
    display: flex;
    justify-content: flex-end;
    // align-items: flex-end;
    @include font-mixin('DM Sans', 700, 12px, 22px, 0, $body);
  }
  &__tel {
    color: $brand-red;
    // display: flex;
  }

  &__rights {
    @include font-mixin('DM Sans', 700, 14px, 21px, 0em, $text);
    width: 100%;
    max-width: 135px;
  }

  &__rights-container {
    display: flex;
    justify-content: center;
    margin-top: 22px;
  }
}

@media (min-width: 768px) {
  .footer {
    ::after {
      transform: translateY(-73px);
    }
    &__style {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding-bottom: 73px;
    }
    &__header {
      font-size: 26px;
      line-height: 30px;
      letter-spacing: 0.04em;
      max-width: 340px;
    }
    &__color {
      font-size: 48px;
      line-height: 55px;
      letter-spacing: 0.06em;
    }
    &__list {
      margin-top: 0;
    }
    &__svg {
      width: 34px;
      height: 34px;
    }
    &__contacts {
      font-size: 14px;
      line-height: 26px;
      margin-top: 46px;
    }
    &__rights {
      max-width: 100%;
      text-align: center;
      line-height: 26px;
      letter-spacing: 0.02em;
    }
  }
}

@media (min-width: 1280px) {
  .footer {
    ::after {
      transform: translateY(-60px);
    }
    &__style {
      padding-bottom: 33px;
    }
    &__header {
      max-width: 100%;
      font-size: 30px;
      line-height: 34px;
    }
    &__color {
      font-size: 58px;
      line-height: 66px;
    }
    &__contacts {
      font-size: 16px;
      line-height: 30px;
      margin-top: 50px;
    }
  }
}
