.header {
  background-color: $pinkBg;
  &__bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 6px;
    @media screen and (min-width: 768px) {
      padding-top: 37px;
    }
    @media screen and (min-width: 1280px) {
      padding-top: 50px;
      padding-bottom: 37px;
      display: inline-flex;
    }
  }
  &__hamburger {
    background-color: transparent;
    border: none;
    cursor: pointer;
    @media screen and (min-width: 768px) {
      margin-right: 30px;
      z-index: 10;
      position: relative;
    }
    @media screen and (min-width: 1280px) {
      display: none;
    }
  }
  &__buttons {
    display: flex;
    @media screen and (min-width: 1280px) {
      padding-left: 110px;
    }
  }
  &__btn-svg {
    padding-left: 12px;
  }
  &__logo {
    @media screen and (min-width: 1280px) {
      padding-right: 110px;
    }
  }
}

.hero {
  background-color: $pinkBg;
  &__box {
    position: relative;
    overflow: hidden;
    padding-bottom: 160px;
    padding-top: 137px;
    @media screen and (max-width: 767px) {
      max-width: 400px;
    }
    @media screen and (min-width: 768px) {
      overflow: visible;
      padding-top: 15px;
      padding-bottom: 28px;
    }
    @media screen and (min-width: 1280px) {
      padding-top: 47px;
      padding-bottom: 45px;
    }
  }
  &__h1-style {
    text-transform: uppercase;
    position: relative;
    z-index: 10;
    @include font-mixin($titan, 400, 1.625rem, 1.875rem, 0.04em, $white);
    @media screen and (min-width: 768px) {
      line-height: 1.56rem;
      font-size: 1.375rem;
    }
    @media screen and (min-width: 1280px) {
      @include font-mixin($titan, 400, 2.375rem, 2.687rem, 0.04em, $white);
    }
    &--color {
      color: $brand-red;
      font-size: 3rem;
      line-height: 2.875rem;
      @media screen and (min-width: 768px) {
        line-height: 1.875rem;
        font-size: 2.125rem;
      }
      @media screen and (min-width: 1280px) {
        @include font-mixin($titan, 400, 3.625rem, 3.25rem, 0.04em, $brand-red);
      }
    }
  }
  &__anchor-btn {
    display: flex;
    margin-top: 19px;
    gap: 8px;
    position: relative;
    z-index: 10;
    @media screen and (min-width: 1280px) {
      margin-top: 25px;
      gap: 17px;
    }
  }
  &__ice-cream {
    position: absolute;
    top: 36px;
    left: 117px;
    z-index: 9;
    @media screen and (min-width: 768px) {
      left: 378px;
      top: -24px;
    }
    @media screen and (min-width: 1280px) {
      left: 479px;
      top: -16px;
    }
  }
  &__circle {
    width: 346px;
    height: 344px;
    background-color: $brand-pink;
    border-radius: 50%;
    position: absolute;
    display: block;
    top: 27px;
    left: 36px;
    @media screen and (min-width: 768px) {
      left: 307px;
      top: -56px;
    }
    @media screen and (min-width: 1280px) {
      width: 538px;
      height: 538px;
      left: 360px;
      top: -85px;
    }
  }
  &__girl {
    position: absolute;
    top: 179px;
    right: 34px;
    z-index: 9;
    @media screen and (max-width: 767px) {
      display: none;
    }
    @media screen and (min-width: 1280px) {
      top: 309px;
      right: 0px;
    }
  }
  &__milk-info {
    display: flex;
    margin-top: 17px;
    @media screen and (max-width: 767px) {
      display: none;
    }
    @media screen and (min-width: 1280px) {
      margin-top: 51px;
      gap: 30px;
    }
  }
  &__milk-description {
    padding-top: 45px;
    padding-bottom: 7px;
    @include font-mixin($sans, 400, 0.5rem, 0.75rem, normal, $white);
    max-width: 114px;
    @media screen and (min-width: 1280px) {
      @include font-mixin($sans, 400, 0.875rem, 1.18rem, normal, $white);
      max-width: 200px;
      padding-top: 56px;
      padding-bottom: 20px;
    }
  }
  &__counter {
    text-align: right;
    position: absolute;
    top: 14px;
    right: 44px;
    @media screen and (max-width: 767px) {
      display: none;
    }
    @media screen and (min-width: 1280px) {
      padding-top: 37px;
      right: 0px;
    }
  }
  &__numbers {
    z-index: 10;
    position: relative;
    @include font-mixin($titan, 400, 1.75rem, 2rem, 0.04em, $brand-red);
    @media screen and (min-width: 1280px) {
      @include font-mixin($titan, 400, 2.875rem, 3.25rem, 0.04em, $brand-red);
    }
    &::after {
      z-index: -1;
      content: '';
      width: 16px;
      height: 16px;
      background-color: $white;
      border-radius: 50%;
      position: absolute;
      top: -2px;
      right: -10px;
      @media screen and (min-width: 1280px) {
        width: 30px;
        height: 30px;
      }
    }
  }
  &__places {
    @include font-mixin($sans, 400, 0.5rem, 0.625rem, normal, $white);
    @media screen and (min-width: 1280px) {
      @include font-mixin($titan, 400, 0.875rem, 1.125rem, 0.04em, $white);
    }
  }
  &__arrow {
    width: 18;
    height: 18;
    @media screen and (min-width: 1280px) {
      width: 26;
      height: 26;
    }
  }
}
.header__nav {
  z-index: 20;
  position: relative;
  @media screen and (max-width: 1279px) {
    display: none;
  }
  &__list {
    padding-right: 30px;
    @include font-mixin($sans, 700, 1rem, 1.31rem, normal, $white);
    &--padding {
      padding-right: 0px;
    }
    &--active {
      color: $brand-red;
    }
  }
}
.container--header {
  @media screen and (min-width: 1280px) {
    max-width: 1280px;
    padding-left: 45px;
    padding-right: 110px;
  }
}
