.products {
  padding-top: 121px;
  padding-bottom: 98px;
}

.products__head {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 15px;
  padding-bottom: 144px;
}
.products__text {
  text-transform: uppercase;
}

.products__title {
  text-transform: uppercase;
}

.products__grid {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  gap: 130px;
}

.product__item {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  border-radius: 24px;
  padding-top: 161px;
  padding-bottom: 41px;
  position: relative;
  &::before {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -113px;
    width: 249px;
    height: 252px;
    background-size: cover;
  }
  &:first-child::before {
    background-image: url(.././images/product-ice-cream-249.png);
  }
  &:nth-child(2)::before {
    background-image: url(.././images/product-ice-coffee-249.png);
  }
  &:last-child::before {
    background-image: url(.././images/product-milkshake-249.png);
  }
  &--bg-color:first-child {
    background-color: $pinkBg;
  }
  &:nth-child(2) {
    background-color: $CoffeeBG;
  }
  &:last-child {
    background-color: $lime;
  }
}

.product__title {
  text-transform: uppercase;
  padding-bottom: 66px;
  position: relative;
}
.product__text {
  text-align: center;
  padding: 0px 39px 30px 41px;
  position: relative;
  &::before {
    content: '';
    width: 28px;
    height: 6px;
    background-image: url(.././images/points_products-26.png);
    background-size: cover;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -36px;
  }
}

.product__button {
  border-radius: 50%;
  overflow: hidden;
  border: none;
}

@media (min-resolution: 2dppx) {
  .product__item:first-child::before {
    background-image: url(.././images/product-ice-cream-498.png);
  }
  .product__item:nth-child(2)::before {
    background-image: url(.././images/product-ice-coffee-498.png);
  }
  .product__item:last-child::before {
    background-image: url(.././images/product-milkshake-498.png);
  }
  .product__text::before {
    background-image: url(.././images/points_products-52.png);
  }
}

@media screen and (min-width: 768px) {
  .products {
    padding-top: 122px;
    padding-bottom: 112px;
  }

  .products__head {
    padding-bottom: 150px;
  }

  .products__grid {
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 20px;
  }

  .product__item {
    width: calc(100% - 40px) / 2;
    padding-top: 152px;
    padding-bottom: 40px;
    &::before {
      width: 220px;
      height: 226px;
      top: -103px;
    }
    &:first-child::before {
      background-image: url(.././images/product-ice-cream-220.png);
    }
    &:nth-child(2)::before {
      background-image: url(.././images/product-ice-coffee-220.png);
    }
    &:last-child::before {
      background-image: url(.././images/product-milkshake-220.png);
    }
    .product__text {
      padding: 0px 11px 40px;
    }
  }

  @media (min-resolution: 2dppx) {
    .product__item:first-child::before {
      background-image: url(.././images/product-ice-cream-440.png);
    }
    .product__item:nth-child(2)::before {
      background-image: url(.././images/product-ice-coffee-440.png);
    }
    .product__item:last-child::before {
      background-image: url(.././images/product-milkshake-440.png);
    }
  }
}

@media screen and (min-width: 1200px) {
  .products {
    padding-top: 127px;
    padding-bottom: 119px;
  }

  .products__head {
    padding-bottom: 259px;
  }

  .products__grid {
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 30px;
  }

  .product__item {
    width: calc(100% - 60px) / 2;
    padding-top: 163px;
    padding-bottom: 50px;
    &::before {
      width: 335px;
      height: 335px;
      top: -214px;
    }
    &:first-child::before {
      background-image: url(.././images/product-ice-cream-335.png);
    }
    &:nth-child(2)::before {
      background-image: url(.././images/product-ice-coffee-337.png);
    }
    &:last-child::before {
      background-image: url(.././images/product-milkshake-335.png);
    }
    .product__title {
      padding-bottom: 70px;
    }
    .product__text {
      padding: 0px 44px 52px;
      &::before {
        top: -38px;
      }
    }
  }

  @media (min-resolution: 2dppx) {
    .product__item:first-child::before {
      background-image: url(.././images/product-ice-cream-670.png);
    }
    .product__item:nth-child(2)::before {
      background-image: url(.././images/product-ice-coffee-674.png);
    }
    .product__item:last-child::before {
      background-image: url(.././images/product-milkshake-670.png);
    }
  }
}
